<!DOCTYPE html>
<html>
<head>
    <title>Input Text</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- 引入 CSS 樣式表 -->
</head>
<body>
    <!-- 使用者輸入的表單 -->
    <form id="textForm">
        <input type="text" id="inputName" placeholder="Enter Name...">
        <input type="text" id="inputText" placeholder="Enter text...">
        <button type="submit">Submit</button>
    </form>
    <!-- 文字顯示區域 -->
    <div id="textDisplay"></div>
    
    <!-- 引入 JavaScript 檔案 -->
    <script src="/static/script.js"></script>
</body>
</html>